.gradle/
/build/
/out/
/problem4j-core/out/
/problem4j-core/build/
/problem4j-jackson/out/
/problem4j-jackson/build/
/problem4j-spring-web/out/
/problem4j-spring-web/build/

### IDEs ###
/.idea/
/.vscode/
*.iml
